In [40]:
import pandas as pd

In [41]:
tickers = pd.read_csv("ticker_list.csv")[["Symbol", "Company Name"]]
tickers.shape[0]

5850

In [42]:
dupe_indexes = []

for i in range(1, tickers.shape[0]):
    if tickers["Company Name"][i] == tickers["Company Name"][i - 1]:
        # print("Duplicate: ", tickers["Symbol"][i], ": ", tickers["Company Name"][i])
        dupe_indexes.append(i)

dupe_indexes.reverse()

for i in dupe_indexes:
    tickers = tickers.drop(i)
tickers.shape[0]

5814

In [43]:
tickers = tickers.set_index("Symbol")
tickers

                      Company Name
Symbol
A             Agilent Technologies
AA                           Alcoa
AAC               Ares Acquisition
AACG         ATA Creativity Global
AACI          Armada Acquisition I
...                            ...
ZVSA          ZyVersa Therapeutics
ZWS     Zurn Elkay Water Solutions
ZYME                     Zymeworks
ZYNE       Zynerba Pharmaceuticals
ZYXI                         Zynex

[5814 rows x 1 columns]

In [44]:
tickers.to_csv("ticker_list_refactored.csv")