In [1]:
import pandas as pd

In [13]:
tickers = pd.read_csv("ticker_list.csv")[["Symbol", "Company Name"]].set_index("Symbol")
tickers.head()

                 Company Name
Symbol
A        Agilent Technologies
AA                      Alcoa
AAC          Ares Acquisition
AACG    ATA Creativity Global
AACI     Armada Acquisition I

In [14]:
tickers.to_csv("ticker_list_refactored.csv")